:root {
  --cinza-opaco: #00000090;
  --yellow: #edcd1f;
}

h2.title-section {
  font-family: sans-serif;
  text-align: center;
  padding: 40px 0 30px;
  font-size: 45px;
  text-transform: uppercase;
  color: var(--cinza-opaco);
}

h2.title-section::after {
  content: "";
  width: 130px;
  height: 10px;
  background: var(--yellow);
  display: block;
  margin: 0.8rem auto 0;
}




/**PARTE DOS PROJETOS - GALERIA**/
.grid-card-projetos {
  display: flex;
  flex-direction: column;
}
.card {
  font-family: sans-serif;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 0.6em;
  border-radius: 6px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.legend-imagem-card {
  position: absolute;
  z-index: 2;
  bottom: 0rem;
  right: 0;
  left: 0;
  padding: 0.5rem 1rem;
  font-size: 26px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

@media screen and (min-width: 500px) {
  .grid-card-projetos {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 669px) {
  .grid-card-projetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 910px;
    gap: 2rem;
  }

  .grid-card-projetos .card {
    height: 470px;
  }
  .grid-card-projetos .card img {
    height: 100%;
  }
}
