*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.padding{ padding: 1rem; }

.margin{ padding: 1rem; }

header{
    background: violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    padding: .5rem;
    background:rgb(138, 148, 240);
}
section{
    background: rgb(138, 148, 240);
}

article{
    background: rgb(130, 238, 171);
}

aside{
    background: rgb(30, 92, 236);
}

footer{
    background: rgb(2, 46, 5);
    color: aliceblue;
}

.py-1{
    padding: 1rem;
}

.mx-1{
    margin: .5rem 0;
}

