 
/*     cor personalizada da navbar */
.bg-navbar {
  background-color: green;
}

/* padding-top personalizado */
.pt-50 {
  padding-top: 80px;
}

/* dropdown personalizado */
ul.dropdown-menu.dropdown-menu-end.show {
  background: green;
  margin: 0rem 0 0 0;
}

#item {
  min-height: 400px;
}

a.nav-link.dropdown-toggle,
a.nav-link {
  font-size: 12.3px;
  font-weight: bold;
}

/* section hero - destaque */

#hero {
  max-height: 295px;
  border: 5px solid red;
  overflow: hidden;
}

.carousel-person img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.bg-cinza {
  background: rgba(0, 0, 0, 0.3);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  border: 2px solid red;
}

.row-d-grid {
  display: grid;
  grid-template-columns: 25% auto 20%;
  background: #c9c9c9;
  align-items: center;
}

.div-diagonal {
  background-color: #b0adad;
  clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mini-navbar-meio {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 0 1rem;
}

.mini-navbar-date {
  text-align: right;
  padding: 0 2rem 0 0;
}

@media screen and (max-width: 769px) {
  .row-d-grid {
    display: flex;
    flex-direction: column;
  }
  .div-diagonal {
    clip-path: none;
    width: 100%;
  }

  .mini-navbar-meio {
    padding: 1rem 0.5rem;
  }

  .mini-navbar-date {
    display: none;
  }

  .btn-login {
    margin: 0.5rem 0 0 0;
  }
}
