
#newsletter{
    background: blueviolet;
    color: white;
    padding: 3rem 10px;
    text-align: center;
}

.newsletter__title{
    font-size: 2rem;
    max-width: 560px;
    margin: 0 auto;
    line-height: 130%;
}

.newsletter__lema{
    margin-bottom: 2rem;
    margin-top: 15px;
    font-size: 18px;
}
  
   .d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
     }
  
   .group-form{
     width: 30em;
   }
  
   .group-form input{
    width: 100%;
    height: 40px;
    border: 0;
   }
  
   .group-btn{
    width: 130px;
     }
  
    .group-btn button{
      width: 100%;
      height: 40px;
      border: 0;

    }