

#newsletter {
	background: blueviolet;
	color: #FFF;
	padding: 70px 4px 90px;
}

.newsletter-hero {
	text-align: center;
	padding: 1rem;
}

.newsletter-hero h2 {
	font-size: 19px;
	padding-bottom: 4px;
}

.newsletter-hero h3{
	font-weight: normal;
	padding: 5px;
}

.container-input {
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 500px;
	margin: 0 auto;
	padding-left: 5px;
	border-radius: 5px;
}

#input-email, #button-submit {
	height: 38px;
	border: 0;
	outline: none;
	font-size: 18px;
}

#input-email {
	max-width: 500px;
	width: 100%;
	border-radius: 0 5px 5px 0;
	color: rgba(15, 15, 96);
}

#button-submit {
	padding: 0 .4rem;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	display: block;
}