/* importano fontes google  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* cor de fundo, margin e spacamentos  */
body{
    background-color: #f4f2d6;
    margin: 0 auto;
    padding: 3%; /*padding relativo*/
     font-family: "Poppins", sans-serif; /*Chamando a fonte poppins*/
     max-width: 769px;
}


/* classe para habilidade do item 1 [skill-persona]*/
.skill-persona{
    padding: 1.5rem 0;
    background: #ffd900;
    padding: 1em 0 1em 20px;
    font-size: 20px; /*fonte absoluta*/
}


/* classe para habilidade do item 2 [skill-social]*/
.skill-social{
    padding: 1.5rem 0;
    background: rgb(71, 179, 96);
    margin: 1rem 0;
    padding: 1em 0 1rem 35px;
    font-size: 18px; /*fonte absoluta*/
}

/* classe para habilidade do item 3 [skill-tech]*/
.skill-tech{
    padding: 1.5rem 0;
    background: skyblue;
    padding:  8px 0 8px 45px;
    font-size: 17px; /*fonte absoluta*/
}


/* seletor restritivo para o parágrafo com classe bio  */
/* fonte relativa  */

p.bio{
    font-size: 1.4rem;
    line-height: 150%;
    text-align: justify;
}



#captura-screen{
    padding: 10px;
}


/* responsividade usando medias queries ----------- ---------- ----------  */
@media screen and (max-width: 475px){

    .skills ul{
        padding: 0;
    }

    .skill-persona, .skill-social, .skill-tech{
        list-style: none;
    }
}