.container-calculador{
    font-family: sans-serif;
    width: 320px;
    height: 450px;
    border-radius: 3px;
    background: rgb(196, 196, 239);
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
}


.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.header-calculador{
    padding: 0 .5rem;
    font-size: 17px;
    font-weight: bold;
}

#resultado{
    font-size: 28px;
    padding: 0 .5rem;
    text-align: right;
}


span{
    border: 2px solid rgba(250, 245, 245, 0.4);
    text-align: center;
    margin: 3px;
    padding: 22px 0;
    color: rgb(80, 27, 27);
    font-size: 22px;
}

span:hover{
    background: lightblue;
    cursor: pointer;
    transition: .4s ease-in-out;
}


span.span-col{
    grid-column: span 2;
}


.msg-erro{
    border-radius: 3px;
    background-color: pink;
    padding: 1rem 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    position: absolute;
    z-index: 3;
    top: 2.2rem;
    width: 298px;
    text-align: center;
    padding-left: 1rem;
}

.close-aviso{
    width: auto;
    height: 30px;
    background: red;
    padding: 0 4px;
    font-size: 23px;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}