 .container-header {
     display: grid;
     grid-template-columns: 28% 36% 12% 13% 6%;
     align-items: center;
 }

 :root {
     --font-2: 2rem;

     --bg-default: blueviolet;

     --bg-second: #f2f2f2;

     --cor-light: white;

     --cor-dark-custom: rgba(0, 0, 0, 0.741);
 }

 header{
    background-color: #f2f2f2f2;
    padding: 5px 0;
 }

 .logo {
     font-size: var(--font-2);
     color: var(--cor-light);
 }

 .logo .fa-terminal {
     background: var(--bg-default);
     padding: .5rem;
     border-radius: 5px;
 }

 .logo span {
     color: var(--bg-default);
     font-weight: 700;
 }


 .container-input-icone {
     display: flex;
     align-items: center;
     gap: 5px;
     border-radius: 6px;
     padding: 0 1rem;
     background-color: var(--cor-light);
 }

 .container-input-icone input {
     background-color: var(--cor-light);
     width: 100%;
     height: 40px;
     outline: none;
     border: 0;
 }

 .nav-link-cadastro {
     display: block;
     color: var(--cor-dark-custom);
     max-width: 140px;
     text-align: center;
 }

 .link-btn {
     border-radius: 5px;
     background-color: var(--bg-default);
     color: var(--cor-light);
     max-width: 140px;
     text-align: center;
     display: block;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
 }

 button.navbar-toggler {
     border: 0;
 }

 .navbar-toggler {
     border: none;
     font-size: 2rem;
     padding: 0;
 }

 .navbar-toggler:focus,
 .navbar-toggler:active {
     box-shadow: none;
     outline: none;
     padding: 0;
     cursor: pointer;
 }

 .material-icons {
     font-size: var(--font-2);
     margin: 0 0 0 2rem;
 }

 .icone-menu {
     display: none;
 }

 .menu {
     grid-column: 1/-1;
     margin-top: 1rem;

 }

 .menu ul {
     display: flex;
     list-style: none;
     gap: 1.2rem;
     padding: 0;
 }

 .nav-link {
      padding: .5rem;
 }

 .nav-link::after{
    content: "";
    height: 4px;
    width: 0%;
    display: block;
    background-color: var(--bg-default);
    margin-top: 0.5rem;
 }

 .nav-link:hover:after{
    content: "";
    height: 4px;
    width: 100%;
    display: block;
    background-color: var(--bg-default);
    margin-top: 0.5rem;
    transition: .6s;
 }

 .icone-buy{
    color: var(--bg-default);
 }

 @media (max-width:992px) {
    header{
        position: fixed;
        width: 100%;
    }
     .container-header {
         display: grid;
         grid-template-areas: 'icone-menu logo fa-search material-icons';
         grid-template-columns: 13% 4fr 30px 60px;
     }

     .icone-menu {
        display: block;
        grid-area: icone-menu;
        font-size: 2rem;
        cursor: pointer;
    }

     .menu {
          position: absolute;
          top: 100%;
          left: -100%;
          width: 50%;
          transition: .5s;
           height: 100vh;
     }

     .menu ul{
        display: flex;
        flex-direction: column;
        gap: 0;
     }

     .nav-link:hover:after{
        content: "";
        height: 4px;
        width: 60px;
        display: block;
        background-color: var(--bg-default);
        margin-top: 0.5rem;
        transition: .6s;
     }

     .show{
        left: 5%;
        transition: .5s;
     }

     .logo {
         grid-area: logo;
     }

     .material-icons {
         grid-area: material-icons;
     }


     .container-input-icone {
         background-color: transparent;
     }

     .fa-search {
         grid-area: fa-search;
     }

     .link-btn,
     .nav-link-cadastro,
     header input[type="text"] {
         display: none;
     }
 }